<%-include('../partials/bootstrap.ejs') %>

  <body>
    <%-include('../layouts/navbar')%>
    <h1>Add Campground : -</h1>

    <form
      action="/campgrounds/new"
      method="post"
      novalidate
      class="validate-form"
      enctype="multipart/form-data"
    >
      <div>
        <label for="name">Campground Name: </label>
        <input
          class="form-control"
          type="text"
          id="name"
          name="name"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="input-group mb-3">
      <input type="file" class="form-control" id="inputGroupFile02" name="image" multiple>
      <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>

      <div>
        <label for="location">Location: </label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="city"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div>
        <label for="price">Price:</label>
        <input
          class="form-control"
          type="number"
          id="price"
          name="price"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button>add</button>
    </form>

    <a href="/campgrounds">Back</a>
    <%-include('../partials/JavaScript.ejs') %>
    <%-include('../partials/validateForm.ejs') %>
  </body>

  
</html>
