<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Update Campground : -</h1>

    <form
      action="/campgrounds/updating.../<%=campground._id%>?_method=put"
      method="post"
    >
      <label for="name">Campground Name: </label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%=campground.name%>"
      /><br />
      <label for="location">Location: </label>
      <input
        value="<%=campground.name%>"
        type="text"
        id="location"
        name="city"
      />
      <br />
      <button>Update</button>
    </form>
  </body>
</html>
