<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
    />

    <!--      This belongs to map :-      -->

    <script src="https://cdn.maptiler.com/maptiler-sdk-js/v3.6.1/maptiler-sdk.umd.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.maptiler.com/maptiler-sdk-js/v3.6.1/maptiler-sdk.css"
    />

    <!------------------------------------------------------->

    <style>
      #map {
        position: absolute;
        top:auto;
        bottom: auto;
        width: 50%;
        height: 50%;
      }
    </style>
  </head>
</html>
